:root {
  --md-source: #009be1;
  /* dark */
  --md-sys-color-primary-dark: #8fceff;
  --md-sys-color-on-primary-dark: #00344f;
  --md-sys-color-primary-container-dark: #004b70;
  --md-sys-color-on-primary-container-dark: #ebf5ff;
  --md-sys-color-primary-fixed-dark: #cae6ff;
  --md-sys-color-on-primary-fixed-dark: #001e30;
  --md-sys-color-primary-fixed-dim-dark: #8dcdff;
  --md-sys-color-on-primary-fixed-variant-dark: #004b70;
  --md-sys-color-secondary-dark: #b7c9d9;
  --md-sys-color-on-secondary-dark: #22323f;
  --md-sys-color-secondary-container-dark: #384956;
  --md-sys-color-on-secondary-container-dark: #d3e5f6;
  --md-sys-color-secondary-fixed-dark: #d3e5f6;
  --md-sys-color-on-secondary-fixed-dark: #0c1d29;
  --md-sys-color-secondary-fixed-dim-dark: #b7c9d9;
  --md-sys-color-on-secondary-fixed-variant-dark: #384956;
  --md-sys-color-tertiary-dark: #23e0a9;
  --md-sys-color-on-tertiary-dark: #003827;
  --md-sys-color-tertiary-container-dark: #00513a;
  --md-sys-color-on-tertiary-container-dark: #52fdc3;
  --md-sys-color-tertiary-fixed-dark: #52fdc3;
  --md-sys-color-on-tertiary-fixed-dark: #002115;
  --md-sys-color-tertiary-fixed-dim-dark: #23e0a9;
  --md-sys-color-on-tertiary-fixed-variant-dark: #00513a;
  --md-sys-color-error-dark: #ffb4ab;
  --md-sys-color-on-error-dark: #690005;
  --md-sys-color-error-container-dark: #93000a;
  --md-sys-color-on-error-container-dark: #ffdad6;
  --md-sys-color-outline-dark: #8b9198;
  --md-sys-color-background-dark: #252a31;
  --md-sys-color-on-background-dark: #f2f2f3;
  --md-sys-color-surface-dark: #252b32;
  --md-sys-color-on-surface-dark: #f4f5f5;
  --md-sys-color-surface-variant-dark: #41474d;
  --md-sys-color-on-surface-variant-dark: #c1c7ce;
  --md-sys-color-inverse-surface-dark: #e2e2e5;
  --md-sys-color-inverse-on-surface-dark: #191b1e;
  --md-sys-color-inverse-primary-dark: #006493;
  --md-sys-color-shadow-dark: #000000;
  --md-sys-color-surface-tint-dark: #8dcdff;
  --md-sys-color-outline-variant-dark: #41474d;
  --md-sys-color-scrim-dark: #000000;
  --md-sys-color-surface-container-highest-dark: #424a57;
  --md-sys-color-surface-container-high-dark: #353b46;
  --md-sys-color-surface-container-dark: #272d35;
  --md-sys-color-surface-container-low-dark: #1c2026;
  --md-sys-color-surface-container-lowest-dark: #16191d;
  --md-sys-color-surface-bright-dark: #34383f;
  --md-sys-color-surface-dim-dark: #060709;
  /* custom colors */
  --md-custom-color-warning: #fb9c15;
  --md-sys-color-warning-dark: hsl(25, 100%, 84%);
  --md-sys-color-on-warning-dark: hsl(25, 100%, 21%);
  --md-sys-color-warning-container-dark: hsl(25, 100%, 29%);
  --md-sys-color-on-warning-container-dark: hsl(25, 100%, 92%);
  /* primary */
  --md-ref-palette-primary0: #000000;
  --md-ref-palette-primary5: #001320;
  --md-ref-palette-primary10: #001e30;
  --md-ref-palette-primary20: #00344f;
  --md-ref-palette-primary25: #003f5f;
  --md-ref-palette-primary30: #004b70;
  --md-ref-palette-primary35: #005881;
  --md-ref-palette-primary40: #006493;
  --md-ref-palette-primary50: #007eb8;
  --md-ref-palette-primary60: #0099de;
  --md-ref-palette-primary70: #3db4fc;
  --md-ref-palette-primary80: #8dcdff;
  --md-ref-palette-primary90: #cae6ff;
  --md-ref-palette-primary95: #e6f2ff;
  --md-ref-palette-primary98: #f6f9ff;
  --md-ref-palette-primary99: #fcfcff;
  --md-ref-palette-primary100: #ffffff;
  /* secondary */
  --md-ref-palette-secondary0: #000000;
  --md-ref-palette-secondary5: #02121e;
  --md-ref-palette-secondary10: #0c1d29;
  --md-ref-palette-secondary20: #22323f;
  --md-ref-palette-secondary25: #2d3d4a;
  --md-ref-palette-secondary30: #384956;
  --md-ref-palette-secondary35: #445462;
  --md-ref-palette-secondary40: #50606e;
  --md-ref-palette-secondary50: #687988;
  --md-ref-palette-secondary60: #8293a2;
  --md-ref-palette-secondary70: #9cadbd;
  --md-ref-palette-secondary80: #b7c9d9;
  --md-ref-palette-secondary90: #d3e5f6;
  --md-ref-palette-secondary95: #e6f2ff;
  --md-ref-palette-secondary98: #f6f9ff;
  --md-ref-palette-secondary99: #fcfcff;
  --md-ref-palette-secondary100: #ffffff;
  /* tertiary */
  --md-ref-palette-tertiary0: #000000;
  --md-ref-palette-tertiary5: #00150c;
  --md-ref-palette-tertiary10: #002115;
  --md-ref-palette-tertiary20: #003827;
  --md-ref-palette-tertiary25: #004531;
  --md-ref-palette-tertiary30: #00513a;
  --md-ref-palette-tertiary35: #005e44;
  --md-ref-palette-tertiary40: #006c4f;
  --md-ref-palette-tertiary50: #008864;
  --md-ref-palette-tertiary60: #00a47a;
  --md-ref-palette-tertiary70: #00c290;
  --md-ref-palette-tertiary80: #23e0a9;
  --md-ref-palette-tertiary90: #52fdc3;
  --md-ref-palette-tertiary95: #bcffe0;
  --md-ref-palette-tertiary98: #e7fff1;
  --md-ref-palette-tertiary99: #f4fff7;
  --md-ref-palette-tertiary100: #ffffff;
  /* error */
  --md-ref-palette-error0: #000000;
  --md-ref-palette-error5: #2d0001;
  --md-ref-palette-error10: #410002;
  --md-ref-palette-error20: #690005;
  --md-ref-palette-error25: #7e0007;
  --md-ref-palette-error30: #93000a;
  --md-ref-palette-error35: #a80710;
  --md-ref-palette-error40: #ba1a1a;
  --md-ref-palette-error50: #de3730;
  --md-ref-palette-error60: #ff5449;
  --md-ref-palette-error70: #ff897d;
  --md-ref-palette-error80: #ffb4ab;
  --md-ref-palette-error90: #ffdad6;
  --md-ref-palette-error95: #ffedea;
  --md-ref-palette-error98: #fff8f7;
  --md-ref-palette-error99: #fffbff;
  --md-ref-palette-error100: #ffffff;
  /* neutral */
  --md-ref-palette-neutral0: #000000;
  --md-ref-palette-neutral5: #0f1113;
  --md-ref-palette-neutral10: #191c1e;
  --md-ref-palette-neutral20: #2e3133;
  --md-ref-palette-neutral25: #393c3e;
  --md-ref-palette-neutral30: #454749;
  --md-ref-palette-neutral35: #515355;
  --md-ref-palette-neutral40: #5d5e61;
  --md-ref-palette-neutral50: #75777a;
  --md-ref-palette-neutral60: #8f9193;
  --md-ref-palette-neutral70: #aaabae;
  --md-ref-palette-neutral80: #c5c6c9;
  --md-ref-palette-neutral90: #e2e2e5;
  --md-ref-palette-neutral95: #f0f0f3;
  --md-ref-palette-neutral98: #f9f9fc;
  --md-ref-palette-neutral99: #fcfcff;
  --md-ref-palette-neutral100: #ffffff;
  /* neutral-variant */
  --md-ref-palette-neutral-variant0: #000000;
  --md-ref-palette-neutral-variant5: #0b1216;
  --md-ref-palette-neutral-variant10: #161c21;
  --md-ref-palette-neutral-variant20: #2b3137;
  --md-ref-palette-neutral-variant25: #363c42;
  --md-ref-palette-neutral-variant30: #41474d;
  --md-ref-palette-neutral-variant35: #4d5359;
  --md-ref-palette-neutral-variant40: #595f65;
  --md-ref-palette-neutral-variant50: #71787e;
  --md-ref-palette-neutral-variant60: #8b9198;
  --md-ref-palette-neutral-variant70: #a6acb3;
  --md-ref-palette-neutral-variant80: #c1c7ce;
  --md-ref-palette-neutral-variant90: #dde3ea;
  --md-ref-palette-neutral-variant95: #ebf1f8;
  --md-ref-palette-neutral-variant98: #f6faff;
  --md-ref-palette-neutral-variant99: #fcfcff;
  --md-ref-palette-neutral-variant100: #ffffff;
  /* light */
  --md-sys-color-primary-light: #006493;
  --md-sys-color-on-primary-light: #ffffff;
  --md-sys-color-primary-container-light: #cae6ff;
  --md-sys-color-on-primary-container-light: #001e30;
  --md-sys-color-primary-fixed-light: #cae6ff;
  --md-sys-color-on-primary-fixed-light: #001e30;
  --md-sys-color-primary-fixed-dim-light: #8dcdff;
  --md-sys-color-on-primary-fixed-variant-light: #004b70;
  --md-sys-color-secondary-light: #50606e;
  --md-sys-color-on-secondary-light: #ffffff;
  --md-sys-color-secondary-container-light: #d3e5f6;
  --md-sys-color-on-secondary-container-light: #0c1d29;
  --md-sys-color-secondary-fixed-light: #d3e5f6;
  --md-sys-color-on-secondary-fixed-light: #0c1d29;
  --md-sys-color-secondary-fixed-dim-light: #b7c9d9;
  --md-sys-color-on-secondary-fixed-variant-light: #384956;
  --md-sys-color-tertiary-light: #006c4f;
  --md-sys-color-on-tertiary-light: #ffffff;
  --md-sys-color-tertiary-container-light: #52fdc3;
  --md-sys-color-on-tertiary-container-light: #002115;
  --md-sys-color-tertiary-fixed-light: #52fdc3;
  --md-sys-color-on-tertiary-fixed-light: #002115;
  --md-sys-color-tertiary-fixed-dim-light: #23e0a9;
  --md-sys-color-on-tertiary-fixed-variant-light: #00513a;
  --md-sys-color-error-light: #ba1a1a;
  --md-sys-color-on-error-light: #ffffff;
  --md-sys-color-error-container-light: #ffdad6;
  --md-sys-color-on-error-container-light: #410002;
  --md-sys-color-outline-light: #71787e;
  --md-sys-color-background-light: #fcfcff;
  --md-sys-color-on-background-light: #111213;
  --md-sys-color-surface-light: #f9f9fc;
  --md-sys-color-on-surface-light: #191c1e;
  --md-sys-color-surface-variant-light: #dde3ea;
  --md-sys-color-on-surface-variant-light: #41474d;
  --md-sys-color-inverse-surface-light: #2e3133;
  --md-sys-color-inverse-on-surface-light: #f0f0f3;
  --md-sys-color-inverse-primary-light: #8dcdff;
  --md-sys-color-shadow-light: #000000;
  --md-sys-color-surface-tint-light: #006493;
  --md-sys-color-outline-variant-light: #c1c7ce;
  --md-sys-color-scrim-light: #000000;
  --md-sys-color-surface-container-highest-light: #e0e2e7;
  --md-sys-color-surface-container-high-light: #e7e8eb;
  --md-sys-color-surface-container-light: #eceef1;
  --md-sys-color-surface-container-low-light: #f3f4f6;
  --md-sys-color-surface-container-lowest-light: #ffffff;
  --md-sys-color-surface-bright-light: #f9f9fc;
  --md-sys-color-surface-dim-light: #d9dadd;
  /* dark */
  --md-sys-color-primary-dark: #8fceff;
  --md-sys-color-on-primary-dark: #00344f;
  --md-sys-color-primary-container-dark: #1c4154;
  --md-sys-color-on-primary-container-dark: #ebf5ff;
  --md-sys-color-primary-fixed-dark: #cae6ff;
  --md-sys-color-on-primary-fixed-dark: #001e30;
  --md-sys-color-primary-fixed-dim-dark: #8dcdff;
  --md-sys-color-on-primary-fixed-variant-dark: #1c4154;
  --md-sys-color-secondary-dark: #b7c9d9;
  --md-sys-color-on-secondary-dark: #22323f;
  --md-sys-color-secondary-container-dark: #384956;
  --md-sys-color-on-secondary-container-dark: #d3e5f6;
  --md-sys-color-secondary-fixed-dark: #d3e5f6;
  --md-sys-color-on-secondary-fixed-dark: #0c1d29;
  --md-sys-color-secondary-fixed-dim-dark: #b7c9d9;
  --md-sys-color-on-secondary-fixed-variant-dark: #384956;
  --md-sys-color-tertiary-dark: #23e0a9;
  --md-sys-color-on-tertiary-dark: #003827;
  --md-sys-color-tertiary-container-dark: #00513a;
  --md-sys-color-on-tertiary-container-dark: #52fdc3;
  --md-sys-color-tertiary-fixed-dark: #52fdc3;
  --md-sys-color-on-tertiary-fixed-dark: #002115;
  --md-sys-color-tertiary-fixed-dim-dark: #23e0a9;
  --md-sys-color-on-tertiary-fixed-variant-dark: #00513a;
  --md-sys-color-error-dark: hsl(6, 100%, 84%);
  --md-sys-color-on-error-dark: hsl(6, 100%, 21%);
  --md-sys-color-error-container-dark: hsl(6, 100%, 29%);
  --md-sys-color-on-error-container-dark: hsl(6, 100%, 92%);
  --md-sys-color-outline-dark: #8b9198;
  --md-sys-color-background-dark: #252a31;
  --md-sys-color-on-background-dark: #f2f2f3;
  --md-sys-color-surface-dark: #252b32;
  --md-sys-color-on-surface-dark: #f4f5f5;
  --md-sys-color-surface-variant-dark: #41474d;
  --md-sys-color-on-surface-variant-dark: #c1c7ce;
  --md-sys-color-inverse-surface-dark: #e2e2e5;
  --md-sys-color-inverse-on-surface-dark: #191b1e;
  --md-sys-color-inverse-primary-dark: #006493;
  --md-sys-color-shadow-dark: #000000;
  --md-sys-color-surface-tint-dark: #8dcdff;
  --md-sys-color-outline-variant-dark: #41474d;
  --md-sys-color-scrim-dark: #000000;
  --md-sys-color-surface-container-highest-dark: #424a57;
  --md-sys-color-surface-container-high-dark: #353b46;
  --md-sys-color-surface-container-dark: #272d35;
  --md-sys-color-surface-container-low-dark: #1c2026;
  --md-sys-color-surface-container-lowest-dark: #16191d;
  --md-sys-color-surface-bright-dark: #34383f;
  --md-sys-color-surface-dim-dark: #060709;
  /* custom colors */
  --md-custom-color-warning: hsl(25, 97%, 53%);
  --md-sys-color-warning-dark: hsl(25, 100%, 84%);
  --md-sys-color-on-warning-dark: hsl(25, 100%, 21%);
  --md-sys-color-warning-container-dark: hsl(25, 100%, 29%);
  --md-sys-color-on-warning-container-dark: hsl(25, 100%, 92%);
  /* display - large */
  --md-sys-typescale-display-large-font-family-name: nunito sans;
  --md-sys-typescale-display-large-font-family-style: regular;
  --md-sys-typescale-display-large-font-weight: 400;
  --md-sys-typescale-display-large-font-size: 57px;
  --md-sys-typescale-display-large-line-height: 64px;
  --md-sys-typescale-display-large-letter-spacing: -0.25px;
  /* display - medium */
  --md-sys-typescale-display-medium-font-family-name: nunito sans;
  --md-sys-typescale-display-medium-font-family-style: regular;
  --md-sys-typescale-display-medium-font-weight: 400;
  --md-sys-typescale-display-medium-font-size: 45px;
  --md-sys-typescale-display-medium-line-height: 52px;
  --md-sys-typescale-display-medium-letter-spacing: 0px;
  /* display - small */
  --md-sys-typescale-display-small-font-family-name: nunito sans;
  --md-sys-typescale-display-small-font-family-style: regular;
  --md-sys-typescale-display-small-font-weight: 400;
  --md-sys-typescale-display-small-font-size: 36px;
  --md-sys-typescale-display-small-line-height: 44px;
  --md-sys-typescale-display-small-letter-spacing: 0px;
  /* headline - large */
  --md-sys-typescale-headline-large-font-family-name: nunito sans;
  --md-sys-typescale-headline-large-font-family-style: regular;
  --md-sys-typescale-headline-large-font-weight: 400;
  --md-sys-typescale-headline-large-font-size: 32px;
  --md-sys-typescale-headline-large-line-height: 40px;
  --md-sys-typescale-headline-large-letter-spacing: 0px;
  /* headline - medium */
  --md-sys-typescale-headline-medium-font-family-name: nunito sans;
  --md-sys-typescale-headline-medium-font-family-style: regular;
  --md-sys-typescale-headline-medium-font-weight: 400;
  --md-sys-typescale-headline-medium-font-size: 28px;
  --md-sys-typescale-headline-medium-line-height: 36px;
  --md-sys-typescale-headline-medium-letter-spacing: 0px;
  /* headline - small */
  --md-sys-typescale-headline-small-font-family-name: nunito sans;
  --md-sys-typescale-headline-small-font-family-style: regular;
  --md-sys-typescale-headline-small-font-weight: 400;
  --md-sys-typescale-headline-small-font-size: 24px;
  --md-sys-typescale-headline-small-line-height: 32px;
  --md-sys-typescale-headline-small-letter-spacing: 0px;
  /* body - large */
  --md-sys-typescale-body-large-font-family-name: nunito sans;
  --md-sys-typescale-body-large-font-family-style: regular;
  --md-sys-typescale-body-large-font-weight: 400;
  --md-sys-typescale-body-large-font-size: 16px;
  --md-sys-typescale-body-large-line-height: 24px;
  --md-sys-typescale-body-large-letter-spacing: 0.50px;
  /* body - medium */
  --md-sys-typescale-body-medium-font-family-name: nunito sans;
  --md-sys-typescale-body-medium-font-family-style: regular;
  --md-sys-typescale-body-medium-font-weight: 400;
  --md-sys-typescale-body-medium-font-size: 14px;
  --md-sys-typescale-body-medium-line-height: 20px;
  --md-sys-typescale-body-medium-letter-spacing: 0.25px;
  /* body - small */
  --md-sys-typescale-body-small-font-family-name: nunito sans;
  --md-sys-typescale-body-small-font-family-style: regular;
  --md-sys-typescale-body-small-font-weight: 400;
  --md-sys-typescale-body-small-font-size: 12px;
  --md-sys-typescale-body-small-line-height: 16px;
  --md-sys-typescale-body-small-letter-spacing: 0.40px;
  /* label - large */
  --md-sys-typescale-label-large-font-family-name: nunito sans;
  --md-sys-typescale-label-large-font-family-style: bold;
  --md-sys-typescale-label-large-font-weight: 500;
  --md-sys-typescale-label-large-font-size: 14px;
  --md-sys-typescale-label-large-line-height: 20px;
  --md-sys-typescale-label-large-letter-spacing: 0.10px;
  /* label - medium */
  --md-sys-typescale-label-medium-font-family-name: nunito sans;
  --md-sys-typescale-label-medium-font-family-style: bold;
  --md-sys-typescale-label-medium-font-weight: 500;
  --md-sys-typescale-label-medium-font-size: 12px;
  --md-sys-typescale-label-medium-line-height: 16px;
  --md-sys-typescale-label-medium-letter-spacing: 0.50px;
  /* label - small */
  --md-sys-typescale-label-small-font-family-name: nunito sans;
  --md-sys-typescale-label-small-font-family-style: bold;
  --md-sys-typescale-label-small-font-weight: 500;
  --md-sys-typescale-label-small-font-size: 11px;
  --md-sys-typescale-label-small-line-height: 16px;
  --md-sys-typescale-label-small-letter-spacing: 0.50px;
  /* title - large */
  --md-sys-typescale-title-large-font-family-name: nunito sans;
  --md-sys-typescale-title-large-font-family-style: regular;
  --md-sys-typescale-title-large-font-weight: 400;
  --md-sys-typescale-title-large-font-size: 22px;
  --md-sys-typescale-title-large-line-height: 28px;
  --md-sys-typescale-title-large-letter-spacing: 0px;
  /* title - medium */
  --md-sys-typescale-title-medium-font-family-name: nunito sans;
  --md-sys-typescale-title-medium-font-family-style: bold;
  --md-sys-typescale-title-medium-font-weight: 600;
  --md-sys-typescale-title-medium-font-size: 16px;
  --md-sys-typescale-title-medium-line-height: 24px;
  --md-sys-typescale-title-medium-letter-spacing: 0.15px;
  /* title - small */
  --md-sys-typescale-title-small-font-family-name: nunito sans;
  --md-sys-typescale-title-small-font-family-style: bold;
  --md-sys-typescale-title-small-font-weight: 600;
  --md-sys-typescale-title-small-font-size: 14px;
  --md-sys-typescale-title-small-line-height: 20px;
  --md-sys-typescale-title-small-letter-spacing: 0.10px;
}